/* body {
  margin: 16px;
  line-height: 1.5;
  color: #212121;
  font-family: sans-serif;
} */

p {
  margin: 0;
}

.container {
  width: 1024px;
  margin: auto;
}

@media screen and (max-width: 1023px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 320px;
  }
}

.comment-list {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 24px;
}

.comment-list li:not(:last-child) {
  margin-bottom: 16px;
}

.comment-item {
  /* width: 470px; */
  /* text-overflow: ellipsis;
  overflow: hidden; */
  word-wrap: break-word;
  padding: 4px;
  outline: 1px solid black;
  border-radius: 6px;
}

.btn {
  display: block;
}

.btn-show-more {
  display: block;
  margin: auto;
}
.btn-none {
  display: none;
}

.pagination-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-text {
  margin-top: 6px;
  margin-bottom: 6px;
  resize: none;
}

.btn-send {
  margin: auto;
}
